@layer components {
  .intro-section {
    @apply pt-[14rem] max-h-[62.0625rem] h-screen min-h-[50rem];
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), url('./assets/images/intro.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu-link {
    @apply text-white text-[1.375rem] leading-7 block h-7 overflow-hidden font-light tracking-wider;
    leading-trim: both;
    text-edge: cap;

    &:hover {
      div {
        transform: translateY(-2.75rem);
      }
    }

    div {
      @apply relative grid gap-4;
      transition: all .6s;
    }

    span {
      @apply flex items-center h-7;

      &:nth-child(2) {
        @apply text-interface-primary;
      }
    }
  }

  .site-button {
    @apply block text-center font-semibold border border-solid h-[3.375rem] uppercase relative rounded-[1.75rem] text-[1.375rem] leading-7;
    min-width: 254px;
    width: 100%;
    leading-trim: both;
    text-edge: cap;
    max-width: max-content;
    transition: all .2s;

    &--animated {
      @apply overflow-hidden;

      &:hover {
        div {
          transform: translateY(-3.375rem);
        }
      }

      div {
        @apply relative grid;
        transition: all .6s;
      }

      span {
        @apply flex items-center justify-center h-[3.375rem] w-full;
      }
    }

    &--white {
      @apply text-white text-[1.375rem] leading-7; 

      &:hover {
        @apply bg-interface-primary border-interface-primary text-black;
      }
    }

    &--black {
      @apply text-black text-[1.375rem] leading-7 border-black;

      &:hover {
        @apply bg-interface-primary border-interface-primary text-black;
      }
    }

    &--yellow {
      @apply text-black bg-interface-primary border-interface-primary items-center flex justify-center;
    }
  }

  .site-text {
    @apply text-white text-lg md:text-[1.375rem] md:leading-8 font-thin tracking-widest;
  }

  .mobile-button {
    @apply flex items-center justify-center p-0 appearance-none bg-transparent cursor-pointer w-10 h-10 outline-0 relative;
    border: none;

    span {
      &:not(:last-child) {
        @apply block w-full h-[3px] bg-white;
        box-shadow: 0 .4375rem #fff, 0 -.4375rem #fff;
        transition: all .3s;
      }

      &:nth-child(2) {
        @apply absolute;
      }
    }

    &.active {
      span {
        box-shadow: none;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .site-title {
    @apply text-5xl md:text-[55px] font-bold font-serif md:leading-[62px] pb-5 uppercase;

    span {
      @apply text-interface-primary;
    }

    &--black {
      @apply text-black;
    }

    &--white {
      @apply text-white;
    }
  }

  .left-container {
    @apply pl-5;

    @media (screen(sm)) {
      padding-left: calc((100% - theme(screens.sm)) / 2);
    }

    @media (screen(md)) {
      padding-left: calc((100% - theme(screens.md)) / 2);
    }

    @media (screen(lg)) {
      padding-left: calc((100% - theme(screens.lg)) / 2);
    }

    @media (screen(xl)) {
      padding-left: calc((100% - theme(screens.xl)) / 2);
    }

    @media (screen(2xl)) {
      padding-left: calc((100% - theme(screens.2xl)) / 2);
    }
  }

  .fixed-bg-one {
    @media (max-width: 1919px) {
      left: 50%;
      transform: translateX(711px);
    }

    @media (min-width: 1920px) {
      right: 0;
    }
  }

  .single-space {
    .swiper-slide-active {
      width: 1000px !important;
    }

    .swiper-slide {
      height: 664px;
      width: 358px;
      position: relative;
      border-radius: 1rem;
    }
  }

  .left-carousel-bg {
    @apply absolute top-0 left-0 h-full w-[388px] z-30 pointer-events-none;
    background: linear-gradient(90deg, #0E1317 0%, rgba(14, 19, 23, 0) 100%);
  }

  .right-carousel-bg {
    @apply absolute top-0 right-0 h-full w-[388px] z-30 pointer-events-none;
    background: linear-gradient(-90deg, #0E1317 0%, rgba(14, 19, 23, 0) 100%);
  }
}